module.exports = {
  config: {
    user: "",
    host: "",
    database: "",
    password: "",
    port: "3306",

    /**
     * DAILY: save a backup named with the day of the month (1-31)
     * WEEKLY: save a backup named with the day of the week (1-7) (Sunday to Saturday)
     * MONTHLY: save a backup named with the month (1-12)
     */
    loopMode: "WEEKLY",

    /**
     * m: minute (0-59)
     * H: hour (0-23)
     * D: day of the month (1-31)
     * M: month (1-12)
     * DOW: day of the week (0-6) (Sunday to Saturday)
     */
    //     m H D M DOW command
    cron: "0 0 * * *",
  },
};
